body {
  font-family: "Spectrum Sans", "Adobe Clean", Arial, sans-serif;
  font-size: 1.25em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
}

.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background: #F8F8F8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.reward-points {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  border: 1px solid rgb(216, 221, 230);
  padding: 2rem;
  background: white;
  width: clamp(calc(320px - 3rem), 75%, 70ch);
}

.reward-form {
  /* flex: 1 0 50%; */
  /* padding: 0 1.25rem; */
}

.reward-select {
  display: block;
  font-size: 1em;
}

.rewards-info {
  display: flex;
  gap: 2rem 4rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 4px solid rgb(216, 221, 230);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.rewards-amount {
  display: block;
  line-height: 1;
  font-size: 4em;
  font-weight: 700;
}
